{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load assess_tags %}

{% block head_title %}{% trans "Application List" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Assessment progress</h1>
  </header>
    {% if application_list %}
    <!-- Approval: ICT SECURITY -->
    {% if request.user|has_group:"security" %}
    {% if security_list %}
    <br>
    <h3>ICT Security Review</h3>
    <table class="w3-table-all w3-hoverable w3-small w3-card-4">
      <thead>
        <tr class="w3-light-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Purpose" %}</th>
          <th>{% trans "DHB(s)" %}</th>
          <th>{% trans "Type(s)" %}</th>
          <th>{% trans "ICT Security" %}</th>
          <th>{% trans "Privacy Officer" %}</th>
          <th>{% trans "Clinical Advisor" %}</th>
          <th><small>{% trans "Cloud Assessment Team" %}</small></th>
          <th><small>{% trans "Information Privacy and Security Governance" %}</small></th>
        </tr>
      </thead>
      <tbody>
        {% for application in security_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assessment:application-security-assess' application.name %}">{{ application.name }}</a></td>
          <td>{{ application.purpose }}</td>
          <td>{% for dhb in application.dhbs.all %}
            {{ dhb.name }}{% if forloop.last %}.{% else %},{% endif %}
          {% endfor %}</td>
          <td>{% for application_type in application.application_type.all %}
            {% autoescape off %} {{ application_type.icon_html }}{% endautoescape %}{{ application_type.name }}
          {% endfor %}</td>
          <td class="{% if application.security_decision == 'N' %} w3-green{% elif application.security_decision == 'H' %} w3-red{% elif application.security_decision == 'E' %} w3-purple{% elif application.security_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_security_decision_display }}</td>
          <td class="{% if application.privacy_decision == 'N' %} w3-green{% elif application.privacy_decision == 'H' %} w3-red{% elif application.privacy_decision == 'E' %} w3-purple{% elif application.privacy_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_privacy_decision_display }}</td>
           <td class="{% if application.clinical_decision == 'N' %} w3-green{% elif application.clinical_decision == 'H'%} w3-red{% elif application.clinical_decision == 'E' %} w3-purple{% elif application.clinical_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_clinical_decision_display }}</td>
           <td>No CAT decision.</td>
           <td>No SPSG decision.</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    <!-- Approval: PRIVACY -->
    {% if request.user|has_group:"privacy" %}
    {% if privacy_list %}
    <br>
    <h3>Privacy Office Review</h3>
    <table class="w3-table-all w3-hoverable w3-small w3-card-4">
      <thead>
        <tr class="w3-light-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Purpose" %}</th>
          <th>{% trans "DHB(s)" %}</th>
          <th class="w3-center">{% trans "App" %}<br>{% trans "Type(s)" %}</th>
          <th class="w3-center">{% trans "ICT" %}<br>{% trans "Security" %}</th>
          <th class="w3-center">{% trans "Privacy" %}<br>{% trans "Officer" %}</th>
          <th class="w3-center">{% trans "Clinical" %}<br>{% trans "Advisor" %}</th>
          <th class="w3-center">{% trans "Cloud" %}<br>{% trans "Assessment Team" %}</th>
          <th class="w3-center">{% trans "Information Privacy" %} &<br>{% trans "Security Governance" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for application in privacy_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assessment:application-privacy-assess' application.name %}">{{ application.name }}</a></td>
          <td>{{ application.purpose }}</td>
          <td>{% for dhb in application.dhbs.all %}
            {{ dhb.name }}{% if forloop.last %}.{% else %},{% endif %}
          {% endfor %}</td>
          <td>{% for application_type in application.application_type.all %}
            {% autoescape off %} {{ application_type.icon_html }}{% endautoescape %}{{ application_type.name }}
          {% endfor %}</td>
          <td class="{% if application.security_decision == 'N' %} w3-green{% elif application.security_decision == 'H' %} w3-red{% elif application.security_decision == 'E' %} w3-purple{% elif application.security_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_security_decision_display }}</td>
          <td class="{% if application.privacy_decision == 'N' %} w3-green{% elif application.privacy_decision == 'H' %} w3-red{% elif application.privacy_decision == 'E' %} w3-purple{% elif application.privacy_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_privacy_decision_display }}</td>
           <td class="{% if application.clinical_decision == 'N' %} w3-green{% elif application.clinical_decision == 'H'%} w3-red{% elif application.clinical_decision == 'E' %} w3-purple{% elif application.clinical_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_clinical_decision_display }}</td>
           <td>No CAT decision.</td>
           <td>No SPSG decision.</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    <!-- Approval: CLINICAL ADVISOR -->
    {% if request.user|has_group:"clinical" %}
    {% if clinical_list %}
    <br>
    <h3>Clinical Advisor</h3>
    <table class="w3-table-all w3-hoverable w3-small w3-card-4">
      <thead>
        <tr class="w3-light-grey">
          <th>{% trans "Name" %}</th>
          <th>{% trans "Purpose" %}</th>
          <th>{% trans "DHB(s)" %}</th>
          <th>{% trans "Type(s)" %}</th>
          <th>{% trans "ICT Security" %}</th>
          <th>{% trans "Privacy Officer" %}</th>
          <th>{% trans "Clinical Advisor" %}</th>
          <th><small>{% trans "Cloud Assessment Team" %}</small></th>
          <th><small>{% trans "Information Privacy and Security Governance" %}</small></th>
        </tr>
      </thead>
      <tbody>
        {% for application in clinical_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assessment:application-clinical-assess' application.name %}">{{ application.name }}</a></td>
          <td>{{ application.purpose }}</td>
          <td>{% for dhb in application.dhbs.all %}
            {{ dhb.name }}{% if forloop.last %}.{% else %},{% endif %}
          {% endfor %}</td>
          <td>{% for application_type in application.application_type.all %}
            {% autoescape off %} {{ application_type.icon_html }}{% endautoescape %}{{ application_type.name }}
          {% endfor %}</td>
          <td class="{% if application.security_decision == 'N' %} w3-green{% elif application.security_decision == 'H' %} w3-red{% elif application.security_decision == 'E' %} w3-purple{% elif application.security_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_security_decision_display }}</td>
          <td class="{% if application.privacy_decision == 'N' %} w3-green{% elif application.privacy_decision == 'H' %} w3-red{% elif application.privacy_decision == 'E' %} w3-purple{% elif application.privacy_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_privacy_decision_display }}</td>
           <td class="{% if application.clinical_decision == 'N' %} w3-green{% elif application.clinical_decision == 'H'%} w3-red{% elif application.clinical_decision == 'E' %} w3-purple{% elif application.clinical_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_clinical_decision_display }}</td>
           <td>No CAT decision.</td>
           <td>No SPSG decision.</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% endif %}
    <br>
  </div>
{% endblock %}