{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "CAT Meeting Form" %}{% endblock %}

{% block extra_head %}{{ form.media.css }}{% endblock %}

{% block content %}
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">CAT Meeting Form</h1>
  </header>
  <br>
  <div class="w3-row">
    <div class="w3-container w3-card-4">
    <form action="" method="post"><br>
      {% csrf_token %}
      {% for field in form %}
        <div class="w3-row w3-padding">
          <div class="w3-col m1 l1">{{ field.label }}</div>
          <div class="w3-col m3 l3">{{ field }}</div>
        </div>
      {% endfor %}
    </form>
  </div>
  </div>
  <br>
  <div class="w3-row">
          <a class="w3-button w3-section w3-red w3-ripple w3-large" href="{% url 'assessment:catmeeting-list' %}">{% trans "Cancel" %}</a>
        <button class="primaryAction w3-button w3-section w3-green w3-ripple w3-large" type="submit">{% trans "Save" %}</button>
      </div>
</div>
{% endblock %}

{% block extra_body %}
  {{ form.media.js }}
{% endblock %}